@model MRCDataLibrary._02_Models.WorshipModel

<h1>Details</h1>


@if (Model is null)
{
    <h4>The requested record was not found.</h4>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Update">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="WorshipDate" class="custom-control-label"></label>
                    <input asp-for="WorshipDate" class="form-control" readonly />
                    <span asp-validation-for="WorshipDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="WorshipType" class="custom-control-label"></label>
                    <select asp-for="WorshipType" asp-items="@Model.WorshipTypeSelectList" class="form-control"></select>
                    <span asp-validation-for="WorshipType" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Location" class="custom-control-label"></label>
                    <input asp-for="Location" class="form-control" />
                    <span asp-validation-for="Location" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="custom-control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="WorshipId" type="hidden" />
                </div>

                <div class="form-group">
                    <input type="submit" value="Update Worship Info" class="btn btn-primary" />
                </div>
                <div class="form-group">
                    <a asp-action="Delete" asp-route-worshipId="@Model.WorshipId" class="btn btn-danger">Delete Worship Info</a>
                </div>
            </form>
        </div>
    </div>

    <div>
        @*@Html.ActionLink("Edit", "Edit", new { worshipId = Model.WORSHIP_ID })*@
        <a asp-action="Index">Back to List</a>
    </div>
}


