@model MRCDataLibrary._02_Models.MemberModel

<h1>Detail Info</h1>

@if (Model is null)
{
    <h4>The requested record was not found.</h4>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Update">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="FirstName" class="custom-control-label"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastName" class="custom-control-label"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EmailAddr" class="custom-control-label"></label>
                    <input asp-for="EmailAddr" class="form-control" />
                    <span asp-validation-for="EmailAddr" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BirthDate" class="custom-control-label"></label>
                    <input asp-for="BirthDate" type="date" asp-format="{0:yyyy-MM-dd}" class="form-control" />
                    <span asp-validation-for="BirthDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PhoneNum" class="custom-control-label"></label>
                    <input asp-for="PhoneNum" class="form-control" />
                    <span asp-validation-for="PhoneNum" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RegisterDate" class="custom-control-label"></label>
                    <input asp-for="RegisterDate.Date" type="date" asp-format="{0:yyyy-MM-dd}" class="form-control" readonly />
                    <span asp-validation-for="RegisterDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FamilyId" class="custom-control-label"></label>
                    <input asp-for="FamilyId" class="form-control" />
                    <span asp-validation-for="FamilyId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="GroupCd" class="custom-control-label"></label>
                    <select asp-for="GroupCd" asp-items="@Model.GroupSelectList" class="form-control" ></select>
                    <span asp-validation-for="GroupCd" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TeamCd" class="custom-control-label"></label>
                    <select asp-for="TeamCd" asp-items="@Model.TeamSelectList" class="form-control"></select>
                    <span asp-validation-for="TeamCd" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input asp-for="MemberId" type="hidden" />
                </div>

                <div class="form-group">
                    <input type="submit" value="Update Member Info" class="btn btn-primary btn-block" />
                </div>
                <div class="form-group">
                    <a asp-action="Delete" asp-route-memberId="@Model.MemberId" class="btn btn-danger btn-block">Delete Member Info</a>
                </div>
            </form>
        </div>
    </div>    
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
}
